/*********************************************************** *
Cours 420-G16-RO
Projet de session 
E-boutique
AZIZ RAYENE DELAA
MAXIME DECOSTE
************************************************************* */
.nav-item a {
    font-size: 30px; 
    padding: 15px;
}
.logo{
    height: 100px;
}
.container form{
    align-items: center;
    border: black 10px solid ;
    padding: 25px;
    border-radius: 25px
}
.container h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}


