/*********************************************************** *
Cours 420-G16-RO
Projet de session 
E-boutique
AZIZ RAYENE DELAA
MAXIME DECOSTE
************************************************************* */
.nav-item a {
    font-size: 30px; 
    padding: 15px;
}
.logo{
    height: 100px;
}

